# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Environment
.env
venv/
.venv/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store

# Open WebUI admin tools (local only, contain DB manipulation scripts)
owui_tools/

# Random files
temp-hold/